<body>
{% from gconfig import front_game_config %}
{% from gconfig import get_str_words %}
{% if msg %}
<div style="color: red">{{msg}}</div>
{% end %}

<h3>赠送觉醒道具：</h3>
<div style="color: red">每次最大赠送数量{{max_num}}</div>

<form action="/{{url_partition}}/admin/item/add_aitem/" method="post">
    输入用户id: <input type="text" id="uid" name="uid", value="{{uid}}">
<table border="1">
    <tr>
        <th>觉醒道具id</th>
        <th>觉醒道具名字</th>
        <th>觉醒道具数量</th>
        <th>增加</th>
    </tr>

{% for aitem_id, aitem_info in sorted(front_game_config.awaken_material.iteritems(), key=lambda x: x[0]) %}
    <tr align="center">
        <td>{{aitem_id}}</td>
        <td>{{get_str_words('1',aitem_info['name'])}}</td>
        <td><input type="text" name="aitem_{{aitem_id}}" value="0" /></td>
        <td><input value="submit" name="submit"  type="submit" /></td>
    </tr>
{% end %}

</table>
</form>

</body>
