{% extends "../user_info_base.html"%}
{% block content %}
{% from gconfig import game_config, get_str_words %}
{% if msg %}
<div style="color: red">{{msg}}</div>
{% end %}
<h3>卡牌：</h3>
<table border="1" cellspacing="0" cellpadding="1" cellspacing="0" cellpadding="1">
    <tr>
        <th>唯一id</th>
        <th>配置id</th>
        <th>名字</th>
        <th>等级</th>
        <th>来源</th>
        <th>雪藏</th>
        <!--<th>经验</th>-->
        <!--<th>进阶等级</th>-->
        <!--<th>星级</th>-->
        <th>操作</th>
    </tr>
{% if card %}
{% for card_oid, card_dict in \
    sorted(card.cards.iteritems(), key=lambda x: (x[1]['lv'], x[1]['exp'], x[1]['evo'], x[1]['star'], int(x[1]['id'])), reverse=True) %}
    <tr align="center">
        <form action="/{{url_partition}}/admin/card/card_update/" method="post">
        <input type="hidden" name="card_oid" value="{{card_oid}}" />
        <input type="hidden" name="uid" value="{{uid}}" />
        <td>{{ card_oid }}</td>
        <td>{{ card_dict['id'] }}</td>
        <td>{{ get_str_words('1', game_config.card_basis[card_dict['id']]['name'] )}}</td>
        <td><input type="text" name="lv" value="{{ card_dict['lv'] }}" size="5" /></td>
        <td><input type="text" name="_source" value="{{ card_dict['_source'] }}" size="5" /></td>
        <td><input type="text" name="is_cold" value="{{ card_dict['is_cold'] }}" size="5" /></td>
        <!--<td>{{ card_dict['exp'] }}</td>-->
        <!--<td><input type="text" name="evo" value="{{ card_dict['evo'] }}" size="5" /></td>-->
        <!--<td><input type="text" name="star" value="{{ card_dict['star'] }}" size="5" /></td>-->
        <td><input value="修改" name="modify"  type="submit" onclick="return confirm('确认需要修改吗?')" /><br/>
            <input value="删除" name="delete"  type="submit" onclick="return confirm('确认需要删除吗?')" /></td>
        </form>
    </tr>
{% end %}
{% end %}
</table>

<hr>

<h3>卡牌碎片：</h3>
<table border="1" cellspacing="0" cellpadding="1">
    <tr>
        <th>碎片id</th>
        <th>碎片数量</th>
        <th>修改</th>
        <th>删除</th>
    </tr>

{% for piece_id, piece_num in sorted(card.pieces.iteritems(), key=lambda x: x[0]) %}
    <tr align="center">
        <form action="/{{url_partition}}/admin/card/piece_update/" method="post">
        <input type="hidden" name="uid" value="{{uid}}" />
        <input type="hidden" name="piece_id" value="{{piece_id}}" />
        <td>{{ piece_id }}</td>
        <td><input type="text" name="piece_num" value="{{ piece_num }}" size="5" /></td>
        <td><input value="modify" name="modify"  type="submit" /></td>
        <td><input value="delete" name="delete"  type="submit" /></td>
        </form>
    </tr>
{% end %}
</table>

<hr>
{% end %}
