/* CSS Document */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {margin:0;padding:0;border:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block;}
ol,ul {list-style:none;}

blockquote,q {quotes:none;}
blockquote:before,blockquote:after,q:before,q:after {content:'';content:none;}
table {border-collapse:collapse;border-spacing:0;}
* {tap-highlight-color:rgba(0,0,0,0);-webkit-tap-highlight-color:rgba(0,0,0,0);-ms-tap-highlight-color:rgba(0,0,0,0);-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;}
input,select,textarea{-webkit-tap-highlight-color:rgba(0,0,0,0);;border:0;border-radius:0;font-family:Microsoft YaHei;}
:focus{outline:0}
body{color:#4d4b4b;font-family:'Microsoft Yahei', '微软雅黑', Arial, sans-serif;}
html,body{font-size:20px;-webkit-text-size-adjust:none; line-height:1.4em;}
a{color:#4d4b4b;text-decoration:none;}
.wrap{min-width:320px; max-width:640px; margin:0 auto; position:relative;}
.clearfix:after{display:block;content:'';clear:both;visibility:hidden;}
.clear{clear:both;}
*{margin: 0; padding: 0;}
.fl{float:left;}
.fr{float:right;}
.ui_block{width: 100%; display: block;margin-top: -0.5%}
.ui_text_c{text-align: center;}
.ui_color{color: #fff;}
.reveal-modal-bg{position:fixed; height:100%; width:100%; background:#000; filter:alpha(opacity=80); -moz-opacity:0.8; -khtml-opacity:0.8; opacity:0.8; z-index:1000000; display:none; top:0; left:0;}
.reveal-modal{display:none; top:0; left:50%; position:absolute; z-index:10000001; width: 100%;  margin-left: -50%; height: auto;}
.reveal-modal .reveal-msgbox{width: 100%; min-width: 320px; max-width: 640px; margin: 0 auto;}
.close-reveal-modal{width:30px; height:30px; line-height:30px; font-size:22px; color:#fff; background:#000; border-radius:50%; text-align:center; position:absolute; right:-10px; top:-10px; z-index:5;}
.close-reveal-modal2{background:none; right:27px; width:64px; height:64px; border-radius:none; top:-6px; cursor:pointer;}
.msgbox_b{width: 86%; margin: 0 auto; position:relative;}
.msgbox_b .conb{position:absolute; z-index:1; left:0; top:0; width:100%;}
.msgbox_b .conb .ti{margin-top:12%;}
.ui_tycnb{position: relative;}
.ui_tycnb .cnb{width:100%; position: absolute; z-index:1; left:0; top:0;}
.ui_awm_btn{width:95%; height:2rem; display:block; float:left;margin: 2%}
.ui_navc{padding:0 1%;}
.ui_navc li{width:20%; float:left;}
.ui_navc li a{display:block; height:6rem; cursor:pointer;}
.ui_s1c .clt{width:68%; float:left;}
.copy_text{
    position: absolute;
    top: 17%;
    left: 30%;
    color: white;
    font-size: 23px;
}
.youxi {
    width: 30%;
    display: block;
    float: left;
}
.shouji{
    width: 23%;
    display: block;
    float: left;
    margin-top: 8%;
}
.into{
    margin-top: 5%;
    margin-left: 8%;
    width: 58%;
    height: 24px;

}

.changan{
    margin-top: 4%;
}
.awm select{
    width: 58%;
    float: right;
    margin-right: 11%;
    height: 24px;
}
.msgbox_b .conb .libao{padding:0 10%; margin-top:40%;}
.msgbox_b .conb .libao p{
    color: white;

}
.form {
    width: 100%;
    max-width:500px;
    height: 275px;
    margin: 25px auto 0px auto;
    padding-top: 25px;
}
@media screen and (max-width:480px) {
    body{font-size: 18px;}
    .ui_awm_btn{height:5rem;}
    .ui_navc li a{height:3.5rem;}
    .close-reveal-modal2{width:50px; background:none; right:10%; border-radius:none; top:0;}
    .form {
        width: 100%;
        max-width:500px;
        height: 275px;
        margin: 0px auto 0px auto;
        padding-top: 25px;
    }
    .putin{
        margin-top: 30px;
    }
    .tishi{
        position: absolute;
        left: 0;
        margin: 0 7%;
        top: 72%;

    }
    .tishi p{
        font-size: 14px;
        line-height: 16px;
    }
    .bang_success{
        margin-top: 100px;
    }
    .itemimg:after{
        position: absolute;
        right: 14%;
        top:32%;
        content: "已领取";
        background: red;
        border: 1px solid red;
        border-radius:3px;
        width: 70%;
        color: white;
        transform: rotate(-45deg);
        -ms-transform:rotate(-45deg);
        -moz-transform:rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
    }
}
@media screen and (max-width:499px) {
    .putin{
        margin-top: 40px;
    }
    .tishi{
        position: absolute;
        left: 0;
        margin: 0 7%;
        top: 72%;

    }
    .tishi p{
        font-size: 10px;
        line-height: 15px;
    }
    .bang_success{
        margin-top: 100px;
    }
    .itemimg:after{
        position: absolute;
        right: 14%;
        top:29%;
        content: "已领取";
        font-size: 10px;
        background: red;
        border: 1px solid red;
        border-radius:3px;
        width: 65%;
        height: 20px;
        color: white;
        transform: rotate(-45deg);
        -ms-transform:rotate(-45deg);
        -moz-transform:rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
    }
}

@media screen and (max-width:375px) {
    body{font-size: 16px;}
    .ui_awm_btn{height:4rem;}
    .ui_navc li a{height:3rem;}
    .close-reveal-modal2{right:-5px; border-radius:none; top:-1.5%;}
    .putin{
        margin-top: 30px;
    }
    .tishi{
        position: absolute;
        left: 0;
        margin: 0 7%;
        top: 72%;

    }
    .tishi p{
        font-size: 10px;
        line-height: 14px;
    }
    .bang_success{
        margin-top: 100px;
    }
    .itemimg:after{
        position: absolute;
        right: 14%;
        top:32%;
        content: "已领取";
        background: red;
        border: 1px solid red;
        border-radius:3px;
        width: 70%;
        color: white;
        transform: rotate(-45deg);
        -ms-transform:rotate(-45deg);
        -moz-transform:rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
    }
}

@media screen and (max-width:320px) {
    body{font-size:14px;}
    .msgbox_b .conb .ti{margin-top:11.5%; font-size:14px;}
    .putin{
        margin-top: 20px;
    }
    .tishi{
        position: absolute;
        left: 0;
        margin: 0 7%;
        top: 72%;

    }
    .tishi{
        position: absolute;
        left: 0;
        margin: 0 7%;
        bottom: 9%;

    }
    .tishi p{
        font-size: 9px;
        line-height: 12px;
    }
    .bang_success{
        margin-top: 100px;
    }
    .itemimg:after{
        position: absolute;
        right: 14%;
        top:25%;
        content: "已领取";
        background: red;
        border: 1px solid red;
        border-radius:3px;
        width: 70%;
        color: white;
        transform: rotate(-45deg);
        -ms-transform:rotate(-45deg);
        -moz-transform:rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
    }

}
@media screen and(min-width:539px){

    .tishi{
        position: absolute;
        left: 0;
        margin: 0 7%;
        top: 72%;

    }
    .tishi p{
        font-size: 15px;
        line-height: 14px;
    }
    .bang_success{
        margin-top: 100px;
    }
    .itemimg:after{
        position: absolute;
        right: 14%;
        top:32%;
        content: "已领取";
        background: red;
        border: 1px solid red;
        border-radius:3px;
        width: 70%;
        color: white;
        transform: rotate(-45deg);
        -ms-transform:rotate(-45deg);
        -moz-transform:rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
    }
}
@media (min-width:600px){
    .share ul li:nth-child(1){
        padding-top:1%;}
    .putin{
        margin-top: 50px;
    }
    .tishi{
        position: absolute;
        left: 0;
        margin: 0 7%;
        top: 72%;

    }
    .tishi p{
        font-size: 15px;
        line-height: 14px;
    }
    .bang_success{
        margin-top: 100px;
    }
    .itemimg:after{
        position: absolute;
        right: 14%;
        top:32%;
        content: "已领取";
        background: red;
        border: 1px solid red;
        border-radius:3px;
        width: 70%;
        color: white;
        transform: rotate(-45deg);
        -ms-transform:rotate(-45deg);
        -moz-transform:rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
    }
}
.box {
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6699FF', endColorstr='#6699FF'); /*  IE */
    background-image:linear-gradient(bottom, #6699FF 0%, #6699FF 100%);
    background-image:-o-linear-gradient(bottom, #6699FF 0%, #6699FF 100%);
    background-image:-moz-linear-gradient(bottom, #6699FF 0%, #6699FF 100%);
    background-image:-webkit-linear-gradient(bottom, #6699FF 0%, #6699FF 100%);
    background-image:-ms-linear-gradient(bottom, #6699FF 0%, #6699FF 100%);

    margin: 0 auto;
    position: relative;
    top: 50%;
    width: 100%;
    height: 100%;
}
.login-box {
    width: 100%;
    max-width:500px;
    height: 400px;
    position: absolute;
    top: 50%;
}
@media screen and (min-width:500px){
    .login-box {
        left: 50%;
        margin-left: -250px;
    }
    .putin{
        margin-top: 40px;
    }
    .tishi{
        position: absolute;
        left: 0;
        margin: 0 7%;
        top: 72%;

    }
    .tishi p{
        font-size: 16px;
        line-height: 24px;

    }
    .bang_success{
        margin-top: 100px;
    }
    .itemimg:after{
        position: absolute;
        right: 14%;
        top:25%;
        content: "已领取";
        font-size: 17px;
        background: red;
        border: 1px solid red;
        border-radius:3px;
        width: 67%;
        color: white;
        transform: rotate(-45deg);
        -ms-transform:rotate(-45deg);
        -moz-transform:rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
    }
}


.login-content {
    height: 300px;
    width: 100%;
    max-width:500px;
    float: left;
    margin-top: 15%;
}



.form-control,
.input-group {
    height: 40px;
}

.form-group {
    margin-bottom: 0px !important;
    margin-top: 16%;
}
.login-title{
    margin-top: 15%;
}
.login-title  img{
    width: 70%;
    margin-top: 10%;
}


.link p {
    line-height: 20px;
    margin-top: 30px;
}
.btn-sm {
    padding: 8px 24px !important;
    font-size: 16px !important;
}
.input_number{
    text-align: center;
    margin-left: 10%;

}
.input_text{
   width: 45%;
    height: 27px;
    margin-left: 2%;
    position: relative;
    top: 5px;
}
.playid{
    width: 29%;
    margin-right: 1%;
}
.input_number img{
    width: 30%;
}
.putin img{
    width: 100%;
}
.input_id img{
    width: 30%;
    margin-left: 10%;
}


.hk_tab{
    margin-top: 22%;
    margin-left: 9%;
}
.hk_seon{
    margin-left: 20%;

}

.hk_tab li img{
    width: 100%;


}
.hk_tab li{
    float:left;
    cursor:pointer;
    width: 20%;
    margin-left: 2%;
}
.hk_seon li img{
    width: 100%;
}
.hk_seon li{
    float: left;
    width:23%;
    margin-left: 2%;
    cursor:pointer;
}
.ui_login{
    position: absolute;
    z-index: 999999;
    top: 0;
    display:none;
}
.on{
    background: pink;
}





#items{
    width: 86%;
    margin: 22% 4% 1% 10%;;
    text-align: center
}
.item_div{
    width:21%;
    float:left;
    display: inline-block
}
.item_div img{
    width: 100%;
}


.itemimg{
    position: relative;
}

.bang_success{
    position: relative;
    top: -100px;
    display: none;
}
.bang_success img{
    width: 100%;

}