<body>
{% from gconfig import game_config %}
{% if msg %}
<div style="color: red">{{msg}}</div>
{% end %}

<h3>发送系统邮件：</h3>

<form action="/{{url_partition}}/admin/mail/add_mail/" method="post">

<p>标题：</p>
<div>
    <input type="text" name="title" value="{{title}}" />
</div>

<p>内容：</p>
<div>
    <textarea name="content" style="width:200px; height: 150px;">{{ content }}</textarea>
</div>

<p>奖励配置：(通用的 reward 配置结构，比如：[[1, 0, 10000], [6, 9, 20], [6, 12, 20]])</p>
<div>
    <textarea name="gifts" style="width: 200px; height: 150px;">{{gifts}}</textarea><br/>
</div>

<p>玩家ID：（一行一个UID，总数不能超过 100 个）</p>
<div>
    <textarea name="uids" style="width: 200px; height: 400px;">{{uids}}</textarea>
</div>

<input type="submit" title="发送" value="发送" onclick="return confirm('确定发送邮件？')" />

</form>

</body>
