{% extends "../user_info_base.html"%}
{% block content %}
{% if msg %}
<div style="color: red">{{msg}}</div>
{% end %}
<h3>装备：</h3>
{% from gconfig import game_config %}
<h3>装备：</h3>
<table border="1" cellspacing="0" cellpadding="1">
    <tr>
        <th>装备id</th>
        <th>装备数量</th>
        <th>修改</th>
        <th>删除</th>
    </tr>
{% if equip %}
{% for equip_id, equip_num in sorted(equip.equips.iteritems(), key=lambda x: x[0]) %}
    <tr align="center">
        <form action="/{{url_partition}}/admin/equip/equip_update/" method="post">
        <input type="hidden" name="uid" value="{{uid}}" />
        <input type="hidden" name="equip_id" value="{{equip_id}}" />
        <td>{{ equip_id }}</td>
        <td><input type="text" name="equip_num" value="{{ equip_num }}" size="5" /></td>
        <td><input value="modify" name="modify"  type="submit" /></td>
        <td><input value="delete" name="delete"  type="submit" /></td>
        </form>
    </tr>
{% end %}
{% end %}
</table>


<hr>

<h3>道具碎片：</h3>
<table border="1" cellspacing="0" cellpadding="1">
    <tr>
        <th>碎片id</th>
        <th>碎片数量</th>
        <th>修改</th>
        <th>删除</th>
    </tr>

{% for piece_id, piece_num in sorted(equip.equip_pieces.iteritems(), key=lambda x: x[0]) %}
    <tr align="center">
        <form action="/{{url_partition}}/admin/equip/piece_update/" method="post">
        <input type="hidden" name="uid" value="{{uid}}" />
        <input type="hidden" name="piece_id" value="{{piece_id}}" />
        <td>{{ piece_id }}</td>
        <td><input type="text" name="piece_num" value="{{ piece_num }}" size="5" /></td>
        <td><input value="modify" name="modify"  type="submit" /></td>
        <td><input value="delete" name="delete"  type="submit" /></td>
        </form>
    </tr>
{% end %}
</table>


{% end %}
