
<head>
    <style>
        td {
            white-space:nowrap;overflow:hidden;text-overflow: ellipsis;
        }
    </style>
</head>
<body>
<h3>查询问卷：</h3>
<hr>

{% if quest %}

<table border="1" style="table-layout: fixed;width: 100%">
    <tr>
        <td style="width:2px;">1</td>
        <td style="width:2px;">2</td>
        <td style="width:2px;">3</td>
        <td style="width:2px;">4</td>
        <td style="width:2px;">5</td>
        <td style="width:30px;">6</td>
        <td style="width:2px;">7</td>
        <td style="width:2px;">8</td>
        <td style="width:2px;">9</td>
        <td style="width:2px;">10</td>
        <td style="width:2px;">11</td>
        <td style="width:2px;">12</td>
        <td style="width:2px;">13</td>
        <td style="width:30px;">14</td>
        <td style="width:30px;">15</td>
        <td style="width:2px;">16</td>
        <td style="width:2px;">17</td>
        <td style="width:2px;">18</td>
        <td style="width:30px;">19</td>
        <td style="width:2px;">20</td>
        <td style="width:2px;">21</td>
        <td style="width:30px;">22</td>
        <td style="width:30px;">23</td>
        <td style="width:30px;">24</td>
    </tr>
{% for q in quest %}
    <tr>
    {% for i in xrange(1, 25) %}
        {% if i in (1,2,3,4,5,7,8,9,10,11,12,13,16,17,18,20,21) %}
        <td style="width:2px;">
        {% elif i in (24,) %}
        <td style="width:30px;" title="{{q.get('s%s' % i, '')}}">
        {% else %}
        <td style="width:30px;" title="{{q.get('s%s' % i, '')}}">
        {% end %}
        {{q.get('s%s' % i, '')}}</td>
    {% end %}
    </tr>
{% end %}

</table>

{% end %}

</body>
