<html>
<body>

{% for m in msg %}
<font color="red">{{m}}</font>
{% end %}

<table border="1">
    <tr>
        <th>服务器编号</th>
        <th>服务器名称</th>
        <th>服务器地址</th>
        <th>开放({{ len(server_open) }})</th>
        <th>关闭({{ len(server_notopen) }})</th>
        <th>状况</th>
        <th>类型</th>
        <th>可见平台<br/>(默认所有平台可见)</th>
        <th>不可见平台</th>
        <!--<th>精英服<br/>(根据玩家账号可见)</th>-->
        <th>排序权重</th>
        <th>提交修改</th>
    </tr>
    {% for i in server_list %}
    <tr>
        <form action="/{{url_partition}}/admin/config/server_change/" method="get" accept-charset="utf-8">
            <td>
                {{i['server']}}<input type="hidden" name="server_key" value="{{i['server']}}">
            </td>
            <td>
                <input type="text" name="server_name" value="{{i['server_name']}}">
            </td>
            <td>
                domain: {{i.get('domain', '')}}
            </td>
            <td>
                <input type="radio" name="is_open" {{'checked="checked"' if i['is_open'] else ""}} value="1"/>开放
            </td>
            <td>
                <input type="radio" name="is_open" value="0" {{'checked="checked"' if not i['is_open'] else ""}}/>关闭
            </td>
            <td>
                <input type="radio" name="flag" {{ 'checked="checked"' if i['flag'] == 0 else ""}} value="0"/><font color="blue">维</font><br/>
                <input type="radio" name="flag" {{ 'checked="checked"' if i['flag'] == 1 else ""}} value="1"/><font color="green">新</font><br/>
                <input type="radio" name="flag" {{ 'checked="checked"' if i['flag'] == 2 else ""}} value="2"/><font color="red">满</font><br/>
            </td>
            <td>
                {{config_types.get(i['config_type'])}}
            </td>
            <td>
                <textarea name="include_pt" >{{','.join(map(str, i.get('include_pt', [])))}}</textarea>
            </td>
            <td>
                <textarea name="exclude_pt" >{{','.join(map(str, i.get('exclude_pt', [])))}}</textarea>
            </td>
            <!--<td>-->
                <!--<textarea name="elites_account" >{{','.join(i.get('elites_account', ""))}}</textarea>-->
            <!--</td>-->
            <td>
                <input type="text" name="sort_id" value="{{i['sort_id']}}">
            </td>
            <td>
                <input type="submit" name="" value="提交修改"/>
            </td>
        </form>
    </tr>
    {% end %}
</table>

</body>
</html>