<body>
{% from gconfig import front_game_config %}
{% if msg %}
<div style="color: red">{{msg}}</div>
{% end %}
<h3>赠送基因：</h3>
<div style="color: red">每次最大赠送数量{{max_num}}</div>

<form action="/{{url_partition}}/admin/gene/add_gene/" method="post">
    输入用户id: <input type="text" id="uid" name="uid" value="{{uid}}">
<table border="1">
    <tr>
        <th>配置id</th>
        <th>名字</th>
        <th>数量</th>
        <th>增加</th>
    </tr>

{% for gene_id, gene_info in sorted(front_game_config.gene_basis.iteritems(), key=lambda x: x[0]) %}
    <tr align="center">
        <td>{{gene_id}}</td>
        <td>{{front_game_config.ZH_CN.get(gene_info['name'])}}</td>
        <!--<td>{{gene_info['name']}}</td>-->
        <td><input type="text" name="gene_{{gene_id}}" value="0" /></td>
        <td><input value="submit" name="submit"  type="submit" /></td>
    </tr>
{% end %}

</table>
</form>
</body>
