<html>
<head>
    <title>修改密码</title>
<script type="text/javascript">
function checkpwd(){
    // alert(tp);
    var form = document.getElementById("changepassword");
    var pwd1 = document.getElementById("password1").value || "";
    var pwd2 = document.getElementById("password2").value || "";
    var re = /^\s*$/;
    
    if (re.test(pwd1) || re.test(pwd2)){
        alert("密码不能为空");
        return false;
    }
    if (pwd1 == pwd2){
        return true;
    }
    else{
        alert("两次输入密码不同");
        return false;
    }
    
}
</script>

</head>
<body>
{% if msg %}
    <div style="color: red">{{msg}}</div>
{% end %}
<form id="changepassword" method="post" action="/{{url_partition}}/admin/gs/change_password/">
     原始密码：<input type="password" id="old_password" name="old_password" value=""><br/>
     输入密码：<input type="password" id="password1" name="password1" value=""/><br/>
     再次输入：<input type="password" id="password2" name="password2" value=""/><br/>
     <input id="submit" type="submit" name="submit" onclick="return checkpwd()"/>
</form>
</body>
</html>
