<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>New Web Project</title>
    </head>
    <body>
        {% if msgs%} 
            {% for msg in msgs%}
                <font color='red'>{{msg}}</font>
            {%end%}
        {%end %}
        <form id="loginForm" name="loginForm" action="/{{url_partition}}/admin/gs/login/" method="POST">
            <table border="0">
                <tr>
                    <td>
                        帐号：
                    </td>
                    <td>
                        <input type="text" id="username" name="username" />
                    </td>
                </tr>
                <tr>
                    <td>
                        密码：
                    </td>
                    <td>
                        <input type="password" id="password" name="password">
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <input id="submit" name="submit" type="submit" value="登录" />
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>

