

<body>
{% from gconfig import game_config %}
<p> 当前环境: {{environment}} </p>

<hr />

<table border="1" cellpadding="0" cellspacing="0" id='stat'>
  充值记录
        <tr>
          <td align="center">序号</td>
          <td align="center" name="user_id">用户ID</td>
          <td align="center" name="user_name">用户名字</td>
          <td align="center" name="product_id">充值类型<small style="color: grey">(None表示后台不走套餐)</small></td>
          <td align="center" name="add_diamond">钻石数</td>
          <td align="center" name="pay">货币数</td>
          <td align="center" name="usd">人民币</td>
          <td align="center" name="usd">美元</td>
          <td align="center" name="lan">语言</td>
          <td align="center" name="currency">货币类型</td>
          <td align="center" name="double_pay">是否双倍</td>
          <td align="center" name="platform">充值平台</td>
          <td align="center" name="transaction_id">定单ID</td>
          <td align="center" name="purchase_date_ms">定单时间</td>
          <td align="center" name="create_at">管理员(有值表示是后台直充)</td>
          <td align="center" name="reason">管理员充值原因</td>
        </tr>
        {% for i, st in enumerate(st_list_0) %}
        <tr bgcolor="cornsilk">
          <td align="center" width="0">{{i+1}}</td>
          <td align="center" width="0"><a title="查询此人充值记录" href="/{{url_partition}}/admin/payment/pay_person/?user_id={{st['user_id']}}">{{st['user_id']}}</a></td>
          <td align="center" width="0">{{st['name']}}</td>
          <td align="left" width="0">{{st['product_id']}}</td>
          <td align="center" width="0">{{st['order_diamond']}}</td>
          <td align="center" width="0">{{st['pay']}}</td>
          <td align="center" width="0">{{st['rmb']}}</td>
          <td align="center" width="0">{{st['usd']}}</td>
          <td align="center" width="0">{{st['lan_sort']}}</td>
          <td align="center" width="0">{{st['currency']}}</td>
          <td align="center" width="0">{{True if st['double_pay'] else False}}</td>
          <td align="center" width="0">{{st.get('platform')}}</td>
          <td align="center" width="0">{{st['order_id']}}</td>
          <td align="center" width="0">{{st['order_time']}}</td>
          <td align="center" width="0">{{st.get('admin', '')}}</td>
          <td align="center" width="0">{{st.get('reason', '')}}
              {% if st['order_id'] in game_config.sandbox_pay %}
                沙盒订单
              {% end %}
          </td>
        </tr>
        {% end %}
        <tr>
          <td align="center" width="0">合计</td>
          <td align="center" width="0"></td>
          <td align="center" width="0"></td>
          <td align="center" width="0"></td>
          <td align="center" width="0">{{add_diamond}}</td>
          <td align="center" width="0"></td>
          <td align="center" width="0">{{rmb}}</td>
          <td align="center" width="0">{{usd}}</td>
          <td align="center" width="0"></td>
          <td align="center" width="0"></td>
          <td align="center" width="0"></td>
          <td align="center" width="0"></td>
          <td align="center" width="0"></td>
          <td align="center" width="0"></td>
          <td align="center" width="0"></td>
          <td align="center" width="0"></td>
        </tr>
</table>
</body>


