
<body>
    {% include virtual_index.html %}
    {% import datetime %}
    {% from gconfig import game_config %}
    {% from gconfig import get_str_words %}
{% if mm %}
    <table border="1" cellpadding="0" cellspacing="0">
      <tr>
        <th>用户id</th>
        <th>用户名字</th>
        <th>用户等级</th>
        <th>vip等级</th>
        <th>用户现有钻石数</th>
        <th>充值钻石数</th>
        <th>最后一次活跃时间</th>
      </tr>
      <tr>
        <td align="center" >{{mm.user.uid}}</td>
        <td align="center" >{{mm.user.name}}</td>
        <td align="center" >{{mm.user.level}}</td>
        <td align="center" >{{mm.user.vip}}</td>
        <td align="center" >{{mm.user.diamond}}</td>
        <td align="center" >{{mm.user.vip_exp}}</td>
        <td align="center" >{{datetime.datetime.fromtimestamp(mm.user.active_time)}}</td>
      </tr>
    </table>
    <br />
    <h4>1. 选择套餐充值</h4>
    <hr>
    <table border="1" cellpadding="0" cellspacing="0">
      <tr>
        <th>配置id</th>
        <th>名字</th>
        <th>price</th>
        <th>TW(美元)</th>
        <th>diamond</th>
        <th>gift_diamond</th>
        <th>请输入原因再提交</th>
      </tr>
    {% for goods_id, item in sorted(game_config.charge.iteritems(), key=lambda x: x[1]['price_rmb']) %}
      <tr>
        <td align="center" >{{goods_id}}</td>
        <td align="center" >{{get_str_words('1', item['name'])}}</td>
        <td align="center" >{{item['price_rmb']}}</td>
        <td align="center" >{{item['price_dollar']}}</td>
        <td align="center" >{{item['diamond']}}</td>
        <td align="center" >{{item['gift_diamond']}}</td>
        <td align="right" >
        <form method="post" action="/{{url_partition}}/admin/payment/virtual_pay/">
            <input type="hidden" name="user_id" value="{{mm.user.uid}}" />
            <input type="hidden" name="goods_id" value="{{goods_id}}" />
            <input type="hidden" name="diamond" value="{{item['diamond']}}" />
            <b>次数:</b><input type="text" title='1-99之间的整数' name="times" value="1" size='2' maxlength='2'/>
            <b>原因:</b><input type="text" title='默认淘宝, 其它请自填' name="reason" value="代充"/>
            <input type="submit" title='请检查次数和原因' id='admin' name='admin' onclick="return confirm('确定要为该用户充值?   后台代充(算真实收入)')" value="后台代充(算真实收入)" />
            <input type="submit" title='请检查次数和原因' id='admin_test' name='admin_test' onclick="return confirm('确定要为该用户充值么?')" value="管理员测试专用"/>
        </form>
        </td>
      </tr>
    {% end %}
    </table>
{% end %}
</body>
