<body>
{% from gconfig import game_config, front_game_config %}
{% from gconfig import get_str_words %}
{% if msg %}
<div style="color: red">{{msg}}</div>
{% end %}
<h3>赠送灵魂石：</h3>
<div style="color: red">每次最大赠送数量{{max_num}}</div>

<form action="/{{url_partition}}/admin/hero/add_stone/" method="post">
    输入用户id: <input type="text" id="uid" name="uid", value="{{uid}}">
<table border="1">
    <tr>
        <th>灵魂石id</th>
        <th>灵魂石名字</th>
        <th>灵魂石数量</th>
        <th>增加</th>
    </tr>

{% for stone_id, stone_info in sorted(front_game_config.hero_stone.iteritems(), key=lambda x: x[0]) %}
    <tr align="center">
        <td>{{stone_id}}</td>
        <td>{{get_str_words('1', stone_info['name'])}}</td>
        <!--<td>{{stone_info['name']}}</td>-->
        <td><input type="text" name="stone_{{stone_id}}" value="0" /></td>
        <td><input value="submit" name="submit"  type="submit" /></td>
    </tr>
{% end %}

</table>
</form>
</body>
