<body>
{% from gconfig import front_game_config %}
{% from gconfig import get_str_words %}
{% if msg %}
<div style="color: red">{{msg}}</div>
{% end %}
<h3>赠送英雄：</h3>

<form action="/{{url_partition}}/admin/hero/add_hero/" method="post">
    输入用户id: <input type="text" id="uid" name="uid", value="{{uid}}">
<table border="1">
    <tr>
        <th>配置id</th>
        <th>英雄名字</th>
        <th>职业</th>
        <th>选择</th>
        <th>增加</th>
    </tr>

{% for hero_id, hero_info in sorted(front_game_config.hero_basis.iteritems(), key=lambda x: x[0]) %}
    <tr align="center">
        <td>{{hero_id}}</td>
        <td>{{get_str_words('1', hero_info['name'])}}</td>
        {% if hero_info['job'] == 1 %}
        <td>战士</td>
        {% elif hero_info['job'] == 2 %}
        <td>刺客</td>
        {% elif hero_info['job'] == 3 %}
        <td>弓手</td>
        {% elif hero_info['job'] == 4 %}
        <td>法师</td>
        {% elif hero_info['job'] == 5 %}
        <td>牧师</td>
        {% elif hero_info['job'] == 6 %}
        <td>主角</td>
        {% end %}
        <td><input type="checkbox" name="hero_id" value="{{hero_id}}" /></td>
        <td><input value="submit" name="submit"  type="submit" /></td>
    </tr>
{% end %}

</table>
</form>
</body>
