{% extends "../fields.html" %}

{% block fieldbody %}

<p>日期统计(每小时的半点更新)</p>
<table id="data">
    <tr>
        <th>日期</th>
        <th>登陆用户</th>
        <th>新增登陆</th>
        <th>付费人数</th>
        <th>新增登陆付费人数</th>
        <th>新增付费人数</th>
        <th>留存付费用户</th>
        <th>付费金额</th>
        <th>新增付费金额</th>
        <th>付费率</th>
        <th>付费ARPU</th>
        <th>登陆ARPU</th>
    </tr>
    {% for date, obj in sorted(statistics_data.iteritems(), reverse=True) %}
    {% if obj %}
    <tr onmouseover="return changecolor(this, '#B3D9D9')" onmouseout="return changecolor(this, '')">
        <td>{{ date }}</td>
        <td>{{ obj['login_num'] }}</td>
        <td>{{ obj['regist_num'] }}</td>
        <td>{{ obj['uid_pay_num'] }}</td>
        <td>{{ obj['regist_uid_pay_num'] }}</td>
        <td>{{ obj['first_uid_pay_num'] }}</td>
        <td>{{ obj['login_uid_pay_num'] }}</td>
        <td>{{ obj['pay_rmb'] }}</td>
        <td>{{ obj['first_uid_pay_rmb'] }}</td>
        <td>{{ obj['pay_rate'] }}</td>
        <td>{{ obj['pay_arpu'] }}</td>
        <td>{{ obj['login_arpu'] }}</td>
    </tr>
    {% end %}
    {% end %}
</table>

<hr/>
<p>日期渠道统计(每小时的半点更新) </p>
<form action="/{{url_partition}}/admin/data/statistics_channel/" method="get">
<table id="data">
<tr>
    <td>
        选择服务器:&nbsp;&nbsp;
        <select name="server_id" value="01">
            <option value="00">所有分服(00)</option>
            {% for server_id, obj in sorted(sc.yield_open_servers(), reverse=True) %}
            {% if server_id == select_server %}
                <option value="{{ server_id }}" selected>{{ obj['name'] }}({{ server_id }})</option>
            {% else %}
                <option value="{{ server_id }}">{{ obj['name'] }}({{ server_id }})</option>
            {% end %}
            {% end %}
        </select>
    </td>
    <td>
        选择日期:
        <select name="day" value="1">
            {% for day in sorted(statistics_data, reverse=True) %}
                {% if day == select_day %}
                <option value="{{ day }}" selected>{{ day }}</option>
                {% else %}
                <option value="{{ day }}">{{ day }}</option>
                {% end %}
            {% end %}
        </select>
    </td>
    <td><button type="submit" style="color: red;">查询</button></td>
</tr>
</table>
</form>

<table id="data">
    <tr>
        <th>日期</th>
        <th>分服</th>
        <th>渠道</th>
        <th>登陆用户</th>
        <th>新增登陆</th>
        <th>付费人数</th>
        <th>新增登陆付费人数</th>
        <th>新增付费人数</th>
        <th>留存付费用户</th>
        <th>付费金额</th>
        <th>新增付费金额</th>
        <th>付费率</th>
        <th>付费ARPU</th>
        <th>登陆ARPU</th>
    </tr>
    {% set all_login_num = 0 %}
    {% set all_regist_num = 0 %}
    {% set all_uid_pay_num = 0 %}
    {% set all_regist_uid_pay_num = 0 %}
    {% set all_first_uid_pay_num = 0 %}
    {% set all_login_uid_pay_num = 0 %}
    {% set all_pay_rmb = 0 %}
    {% set all_first_uid_pay_rmb = 0 %}
    {% for channel, obj in sorted(channel_data.iteritems(), reverse=False) %}
    {% if obj %}
        {% set all_login_num += obj['login_num'] %}
        {% set all_regist_num += obj['regist_num'] %}
        {% set all_uid_pay_num += obj['uid_pay_num'] %}
        {% set all_regist_uid_pay_num += obj['regist_uid_pay_num'] %}
        {% set all_first_uid_pay_num += obj['first_uid_pay_num'] %}
        {% set all_login_uid_pay_num += obj['login_uid_pay_num'] %}
        {% set all_pay_rmb += obj['pay_rmb'] %}
        {% set all_first_uid_pay_rmb += obj['first_uid_pay_rmb'] %}
    <tr onmouseover="return changecolor(this, '#B3D9D9')" onmouseout="return changecolor(this, '')">
        <td>{{ select_day }}</td>
        <td>{{ select_server }}</td>
        <td>{{ get_channel_name(channel) }}</td>
        <td>{{ obj['login_num'] }}</td>
        <td>{{ obj['regist_num'] }}</td>
        <td>{{ obj['uid_pay_num'] }}</td>
        <td>{{ obj['regist_uid_pay_num'] }}</td>
        <td>{{ obj['first_uid_pay_num'] }}</td>
        <td>{{ obj['login_uid_pay_num'] }}</td>
        <td>{{ obj['pay_rmb'] }}</td>
        <td>{{ obj['first_uid_pay_rmb'] }}</td>
        <td>{{ obj['pay_rate'] }}</td>
        <td>{{ obj['pay_arpu'] }}</td>
        <td>{{ obj['login_arpu'] }}</td>
    </tr>
    {% end %}
    {% end %}
    <tr onmouseover="return changecolor(this, '#B3D9D9')" onmouseout="return changecolor(this, '')">
        <td>总计</td>
        <td>{{ select_server }}</td>
        <td> </td>
        <td>{{ all_login_num }}</td>
        <td>{{ all_regist_num }}</td>
        <td>{{ all_uid_pay_num }}</td>
        <td>{{ all_regist_uid_pay_num }}</td>
        <td>{{ all_first_uid_pay_num }}</td>
        <td>{{ all_login_uid_pay_num }}</td>
        <td>{{ all_pay_rmb }}</td>
        <td>{{ all_first_uid_pay_rmb }}</td>
        <td> </td>
        <td> </td>
        <td> </td>
    </tr>
</table>

{% end %}
